.stApp {

    background-image: url("https://www.ausedu.cn/Uploads/Picture/2023-11-27/65644a0a5fcb6.jpg");
    background-size: 40% 100%;
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 1;
    background-position: left;

}





